<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>FlightFinder - Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-color bg-light fixed-top" th:fragment="header">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">FlightFinder</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>

	<br/>
	<br/>
	<br/>

	<div class="card">
		<div th:if="${param.success}">
			<div class="alert alert-info">You've successfully registered
				to FlightFinder!</div>
		</div>
		<div class="card-header">
			<h2 class="text-center">Create Account</h2>
		</div>
	<div class="card-body">
		<form th:action="@{/registerUser}" th:object="${user}"
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Username: </label>
				<div class="col-8">
					<input type="text" th:field="*{username}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Password: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Confirm Password: </label>
				<div class="col-8">
					<input type="password" th:field="*{cPassword}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>

            <div class="form-group row">
				<label class="col-4 col-form-label">First Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{firstName}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Last Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{lastName}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>

            <div class="form-group row">
				<label class="col-4 col-form-label">Gender: </label>
				<div class="col-8">
					<input type="text" th:field="*{gender}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>

			<div class="form-group row">
                <label class="col-4 col-form-label">Date of Birth </label>
                <div class="col-8">
                    <input type="date" th:field="*{dob}"/>
                </div>
            </div>
			<!-- <div class="form-group row">
				<label class="col-4 col-form-label">Date of Birth: </label>
				<div class="col-8">

					<input type="date" name="begin" placeholder="dd-mm-yyyy" value="dob" />
				</div>
			</div> -->

            <div class="form-group row">
				<label class="col-4 col-form-label">Mobile Number: </label>
				<div class="col-8">
					<input type="text" th:field="*{mobileNumber}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Email: </label>
				<div class="col-8">
					<input type="text" th:field="*{email}" class="form-control" 
							required minlength="2" maxlength="40"/>
				</div>
			</div>

            <div class="form-group row">
				<label class="col-4 col-form-label">City: </label>
				<div class="col-8">
					<input type="text" th:field="*{city}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Zip Code: </label>
				<div class="col-8">
					<input type="text" th:field="*{zipCode}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>

            <div class="form-group row">
				<label class="col-4 col-form-label">State: </label>
				<div class="col-8">
					<input type="text" th:field="*{state}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			<div class="form-group mb-3">
				<button class="btn btn-primary" type="submit">Sign Up</button>
				<span>Already registered? <a href="/" th:href="@{/login}">Login
					 here</a></span>
			</div>
		</div>
		</form>
	</div>
</body>
</html>