<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Search flights</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div align="center">
        <h1>Search for flights below:</h1>
        <form action="#" th:action="@{/search}" th:object="${flight}" method="post">

            <!--Prompt for Departure Airport-->
            <label>Departure Airport:</label>
            <input type="text" th:field="*{departsFrom}"/>
            <br>

            <!--Prompt for Arrival Airport-->
            <label>Arrival Airport:</label>
            <input type="text" th:field="*{arrivesAt}"/>
            <br>

            <!--Search button-->
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>